.Friend-Functionality {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60px;
}

.Friend-Functionality > * {
  transition: all 1s;
  color: var(--color-grey-lower);
}

.Friend-Functionality > *:hover {
  color: var(--color-linked);
}

.Friend {
  height: max-content;
}

.line-friend {
  margin-bottom: 10px;
  color: var(--color-grey-lower);
  width: 100%;
  margin-inline: auto;
}
