.Profile {
  height: 100%;
}

.Change-Cover {
  background: rgba(12, 11, 11, 0.281);
  left: 20px;
  top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--color-white);
  position: absolute;
  border: 1px solid var(--color-grey-background);
  border-radius: 5px;
  height: 35px;
  transition: all 1s;
  width: 150px;
}

.Change-Cover > * {
  width: max-content;
}

.Change-Cover:hover {
  background: rgba(12, 11, 11, 0.411);
  color: white;
}

.Profile-Cover {
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.Profile-Container {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 240px;
  width: 100%;
}

.Camera-Input {
  position: absolute;
  right: 6%;
  bottom: 6%;
}

.Profile-Info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: var(--color-grey-background);
  width: 30%;
  height: 500px;
  border-radius: 13px;
  align-items: center;
  position: relative;
}

.Profile-Details {
  width: 100%;
}

.Profile-Principal-Info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Profile-Auth {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 580px;
  background: var(--color-grey-background);
  border-radius: 13px;
  justify-content: space-around;
}