.Videos-Main-Container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: inherit;
}

.Videos-Profile-Container {
  margin-top: 20px;
  display: flex;
  position: absolute;
  left:0;
}

.Empty-Container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
  width: 100%;
}

@media(max-width: 380px) {
  .Empty-Container img{
    width: 95%;
  }

  .Empty-Container p{
    font-size: 4vw;
  }
}